.productitem{
    background-color: rgb(156, 156, 156) !important;
    margin: 15px;
    padding: 5px;
    text-align: center;
}
.productlist{
    animation: gradient 1s ease infinite !important;
    /* background-image: linear-gradient(180deg,rgb(0, 0, 0), rgb(255, 32, 32), rgb(255, 255, 255)); */
    background-size: 300% 300%;
    box-shadow: 0 2px 10px black;
    height:auto;
    width: auto;   
}

@keyframes gradient {
    0% {
        background-position: 51% 0%;
    }

    50% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 51% 0%;
    }
}


.topnav{
    background-color:rgb(33,37,41)!important;
    margin: 5px;
    padding: 5px;
    font-family:Sans-serif	;

}
.nav{
    color: white;
    font-family: monospace;
    font-size:smaller !important;
}
